@keyframes skeleton-loading {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-skeleton-loading{
    animation: skeleton-loading 1.5s infinite;
  }
  